# comment out SDKs you don't have installed

sdk.mingw.root = /usr
sdk.mingw.arch = x86_64-w64-mingw32

sdk.open2x.root = /opt/open2x
sdk.open2x.toolchain = gcc-4.1.1-glibc-2.3.6

sdk.caanoo.root = /opt/gph_sdk
sdk.caanoo.toolchain = tools/gcc-4.2.4-glibc-2.7-eabi

sdk.pandora.root = /opt/pandora
sdk.pandora.toolchain = arm-2011.09
sdk.pandora.utils = sdk_utils
