BINDIR = ../../bin
INCDIR = ../../inc
LIBDIR = ../../lib
HEADER = $(INCDIR)/a2x.h
NAME   = $(LIBDIR)/a2x_$(PLATFORM).a

O_DIR = obj_$(PLATFORM)
C_DIR = ../../src

COMPILE_TIME := $(shell date "+%F")
CURRENT_BRANCH := $(shell git symbolic-ref --short HEAD)

CFLAGS += -std=c99 \
          -Wall \
          -Werror \
          -DA__MAKE_COMPILE_TIME=\"$(COMPILE_TIME)\" \
          -DA__MAKE_CURRENT_GIT_BRANCH=\"$(CURRENT_BRANCH)\"

PREFIX = a2x_

CFILES = $(notdir $(wildcard $(C_DIR)/$(PREFIX)*.c))
OFILES = $(addprefix $(O_DIR)/, $(CFILES:.c=.o))
HFILES = $(wildcard $(C_DIR)/$(PREFIX)*.p.h)

all : $(INCDIR) $(LIBDIR) $(HEADER) $(NAME)

$(INCDIR) :
	@ mkdir $@

$(LIBDIR) :
	@ mkdir $@

$(HEADER) : $(HFILES)
	@ $(BINDIR)/a2x_header $(C_DIR) $(HEADER)

$(NAME) : $(O_DIR) $(OFILES)
	@ echo "Building $(notdir $(NAME))"
	@ $(AR) rs $(NAME) $(OFILES)

$(O_DIR) :
	@ mkdir $@

$(O_DIR)/$(PREFIX)%.o : $(C_DIR)/$(PREFIX)%.c
	@ echo "Compiling $(notdir $<)"
	@ $(CC) -c -o $@ $< $(CFLAGS)

clean :
	@ echo "Cleaning a2x $(PLATFORM)"
	@ rm -rf $(HEADER) $(NAME) $(O_DIR)

cleanheader :
	@ echo "Cleaning header $(notdir $(HEADER))"
	@ rm -rf $(HEADER)

tags :
	@ $(BINDIR)/a2x_tags $(HEADER)
