BIN_DIR = ../../bin
INC_DIR = ../../inc
LIB_DIR = ../../lib
C_DIR   = ../../src
O_DIR   = obj_$(PLATFORM)

HEADER  = $(INC_DIR)/a2x.h
LIBRARY = $(LIB_DIR)/a2x_$(PLATFORM).a

COMPILE_TIME := $(shell date "+%F")
CURRENT_BRANCH := $(shell git symbolic-ref --short HEAD)

CFLAGS += -std=c99 \
          -Wall \
          -Werror \
          -DA__MAKE_COMPILE_TIME=\"$(COMPILE_TIME)\" \
          -DA__MAKE_CURRENT_GIT_BRANCH=\"$(CURRENT_BRANCH)\"

A2X_PREFIX = a2x_

C_FILES = $(notdir $(wildcard $(C_DIR)/$(A2X_PREFIX)*.c))
O_FILES = $(addprefix $(O_DIR)/, $(C_FILES:.c=.o))
H_FILES = $(wildcard $(C_DIR)/$(A2X_PREFIX)*.p.h)

ALL_DIRS = $(INC_DIR) $(LIB_DIR) $(O_DIR)

all : $(ALL_DIRS) $(HEADER) $(LIBRARY)

$(ALL_DIRS) :
	@ mkdir $@

$(HEADER) : $(H_FILES)
	@ $(BIN_DIR)/a2x_header $(C_DIR) $(HEADER)

$(LIBRARY) : $(O_FILES)
	@ echo "Building $(notdir $(LIBRARY))"
	@ $(AR) rs $(LIBRARY) $(O_FILES)

$(O_DIR)/$(A2X_PREFIX)%.o : $(C_DIR)/$(A2X_PREFIX)%.c
	@ echo "Compiling $(notdir $<)"
	@ $(CC) -c -o $@ $< $(CFLAGS)

clean :
	@ echo "Cleaning a2x $(ALL_DIRS)"
	@ rm -rf $(ALL_DIRS)

tags :
	@ $(BIN_DIR)/a2x_tags $(HEADER)
