#
# User makefile config variables:
#
# A_CONFIG_APP_NAME
#   Target binary file name
#
# A_CONFIG_BUILD_CFLAGS
#   Passed to compiler
#
# A_CONFIG_BUILD_LIBS
#   Passed to linker
#
# A_CONFIG_EMBED_PATHS, A_CONFIG_EMBED_PATHS_EMSCRIPTEN
#   Space-separated file and dir paths relative to project root
#
# A_CONFIG_PND_NAME
#   Target PND file name
#
# A_CONFIG_MAKE_CLEAN
#   Targets to run before the default clean
#

# Relative path to project root from make subdir
A_ROOT := ..

#
# Project dirs created by a2x_new or overridden by user makefile
#
A_DIR_BIN ?= bin
A_DIR_OBJ ?= obj
A_DIR_SRC ?= src
A_DIR_PND ?= pnd

#
# Object files dir for current platform
#
A_DIR_OBJ_PLATFORM := $(A_ROOT)/$(A_DIR_OBJ)/$(A_PLATFORM)

#
# Subdir for generated code and its object files
#
A_DIR_GEN := $(A_DIR_OBJ_PLATFORM)/a2x_gen

#
# The final bin that gets built
#
A_FILE_TARGET_BIN := $(A_ROOT)/$(A_DIR_BIN)/$(A_CONFIG_APP_NAME)

#
# Project build time
#
A_FILE_SRC_GEN_BUILDTIME := $(A_DIR_GEN)/time.c

#
# Implements the a__embed_application function
#
A_FILE_SRC_GEN_EMBED := $(A_DIR_GEN)/embed.c
A_FILES_EMBED_BIN := $(shell $(A2X_PATH)/bin/a2x_embedfiles -q $(A_ROOT) $(A_CONFIG_EMBED_PATHS))
A_FILES_SRC_GEN_H := $(addprefix $(A_DIR_GEN)/, $(A_FILES_EMBED_BIN:=.h))

#
# .c source files
#
A_FILES_SRC_C_INC := $(shell $(A2X_PATH)/bin/a2x_srcfiles -q $(A_ROOT)/$(A_DIR_SRC) .inc.c)
A_FILES_SRC_C_ALL := $(shell $(A2X_PATH)/bin/a2x_srcfiles -q $(A_ROOT)/$(A_DIR_SRC) .c)
A_FILES_SRC_C := $(filter-out $(A_FILES_SRC_C_INC), $(A_FILES_SRC_C_ALL))

#
# All the object files.
# Keep buildtime separate from the rest, since they are its prerequisites.
#
A_FILE_OBJ_GEN_BUILDTIME := $(A_FILE_SRC_GEN_BUILDTIME:=.o)
A_FILE_OBJ_GEN_EMBED := $(A_FILE_SRC_GEN_EMBED:=.o)
A_FILES_OBJ := $(addprefix $(A_DIR_OBJ_PLATFORM)/, $(A_FILES_SRC_C:=.o)) $(A_FILE_OBJ_GEN_EMBED)

#
# Compiler flags for all targets
#
A_GENERIC_CFLAGS := \
    -DA2X=1 \
    -std=c99 \
    -Wall \
    -Wextra \
    -Wconversion \
    -Wcast-align \
    -Wformat-security \
    -Werror \
    -pedantic \
    -pedantic-errors \
    -fstrict-aliasing \
    -D_XOPEN_SOURCE \
    -I$(A2X_PATH)/inc/$(A_PLATFORM) \
    $(A_BUILD_CFLAGS) \
    $(A_CONFIG_BUILD_CFLAGS) \

.PHONY : all clean cleanbin run

all : $(A_FILE_TARGET_BIN)

$(A_FILE_TARGET_BIN) : $(A_FILES_OBJ) $(A_FILE_OBJ_GEN_BUILDTIME)
	@ mkdir -p $(@D)
	$(CC) -o $@ $^ \
	$(A_BUILD_CFLAGS) \
	$(A_CONFIG_BUILD_LIBS) \
	$(A2X_PATH)/lib/$(A_PLATFORM)/a2x.a \
	$(A_BUILD_LIBS)

$(A_FILE_SRC_GEN_BUILDTIME) : $(A_FILES_OBJ) $(A2X_PATH)/bin/a2x_buildtime
	@ mkdir -p $(@D)
	@ $(A2X_PATH)/bin/a2x_buildtime $@

$(A_DIR_GEN)/%.h : $(A_ROOT)/% $(A2X_PATH)/bin/a2x_bin
	@ mkdir -p $(@D)
	@ $(A2X_PATH)/bin/a2x_bin $< $@ $(<:$(A_ROOT)/%=%) a__bin_

$(A_FILE_SRC_GEN_EMBED) : $(A_FILES_SRC_GEN_H) $(A2X_PATH)/bin/a2x_embed
	@ mkdir -p $(@D)
	@ $(A2X_PATH)/bin/a2x_embed $@ $(A_DIR_GEN) a__bin_ $(A_FILES_SRC_GEN_H:$(A_DIR_GEN)/%=%)

$(A_DIR_OBJ_PLATFORM)/%.c.o : $(A_ROOT)/$(A_DIR_SRC)/%.c
	@ mkdir -p $(@D)
	$(CC) -c -o $@ $< $(A_GENERIC_CFLAGS)

$(A_DIR_GEN)/%.c.o : $(A_DIR_GEN)/%.c
	@ mkdir -p $(@D)
	$(CC) -c -o $@ $< $(A_GENERIC_CFLAGS)

clean : $(A_CONFIG_MAKE_CLEAN)
	rm -rf $(A_FILE_TARGET_BIN) $(A_DIR_OBJ_PLATFORM)

cleanbin :
	rm -f $(A_FILE_TARGET_BIN)

run : all
	cd $(A_ROOT)/$(A_DIR_BIN) ; ./$(A_CONFIG_APP_NAME)
